@model TesteDeloitte.Models.NotaFiscalViewModel
@{
    ViewBag.Title = "Inserir Nota Fiscal";
}

<div class="jumbotron">
    <h2>Inclusão de Notas Fiscais</h2>
    @using (Html.BeginForm())
    {
<fieldset>

    <div class="form-group">
        <label class="control-label" for="ClienteId">Cliente</label>
        @Html.DropDownList("ClienteId", new SelectList(ViewBag.ListaClientes, "Id", "Nome")," -- Selecione -- ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ClienteId)
    </div>

    <div class="form-group">
        <label class="control-label" for="ProdutoId">Produto</label>
        @Html.DropDownList("ProdutoId", new SelectList(ViewBag.ListaProdutos, "Id", "NomeCompleto"), " -- Selecione -- ", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProdutoId)
    </div>

    <div class="form-group">
        <label class="control-label" for="Valor">Valor</label>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Valor, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Valor)
        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-primary">Inserir</button>
        <a href="@Url.Action("Index")" class="btn btn-danger"> <i class="fa fa-reply"></i>Cancelar</a>
    </p>
</fieldset>
    }

</div>
